<div class="container p-3">
  <div class="row row-cols-1 row-cols-md-3 d justify-content-between g-1">
    <div class="col">
      <img class="p-1" src="assets/img/development4.jpg" alt="..." />
      <img class="p-1" src="assets/img/code2.jpg" alt="..." />
      <img class="p-1" src="assets/img/code4.jpg" alt="..." />
      <img class="p-1" src="assets/img/home.jpg" alt="..." />
      <img class="p-1" src="assets/img/code1.jpg" alt="..." />
    </div>
    <div class="col">
      <img class="p-1" src="assets/img/code2.jpg" alt="..." />
      <img class="p-1" src="assets/img/code3.jpg" alt="..." />
      <img class="p-1" src="assets/img/home.jpg" alt="..." />
      <img class="p-1" src="assets/img/code1.jpg" alt="..." />
    </div>
    <div class="col">
      <img class="p-1" src="assets/img/code3.jpg" alt="..." />
      <img class="p-1" src="assets/img/home.jpg" alt="..." />
      <img class="p-1" src="assets/img/code2.jpg" alt="..." />
      <img class="p-1" src="assets/img/code1.jpg" alt="..." />
      <img class="p-1" src="assets/img/code4.jpg" alt="..." />
    </div>
  </div>
</div>
