/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 60px !important;
}

.btn-green {
  padding: 10px;
  border: none;
  background: #3db46d;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #fff;
}
